*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
section{
    width: 100%;
    min-height: 100vh;
}

/* Section-1 */
section .sec-1{
    position: relative;
     width: 100%;
     min-height: 100vh;
     background-image: url("bg.jpg");
     background-repeat: no-repeat;
     background-size: 100% 100%;
}

/* Section-1 Header style */

section .sec-1 header{
    width: 100%;
    height: 20vh;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section .sec-1 header h1{
    color: rgb(206, 213, 216);
    font-weight: 600;
    font-size: xx-large;
}
section .sec-1 header nav{
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
section .sec-1 header nav .arrow{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
  }
section .sec-1 header nav .arrow .line1,.line2,.line3{
   height: 30%;
   width: 100%;
   margin-top: 2px;
   background-color: rgb(206, 213, 216);
   border-radius: 2px;
  }
  section .sec-1 header nav .nav-links{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
section .sec-1 header nav .nav-links a{
    color: rgb(206, 213, 216);
    font-weight: 600;
    font-size: xx-large;
    text-decoration: none;
}

/* Section-1 main-content style */

section .sec-1 main{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .sec-1 main .box{
    width: 600px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.685);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section .sec-1 main .box .B-h1{
    font-weight: bold;   
    letter-spacing: 4px;
    color: rgb(44, 58, 65);
}
section .sec-1 main .box .FW-h1{
    font-weight: bold;
    letter-spacing: 4px;   
    color: rgb(171, 108, 17);
}
section .sec-1 main .box button{
    border: none;
    width: 150px;
    height: 40px;
    background-color: rgb(254, 253, 253);
    font-weight: 700;
    font-size: large;
    letter-spacing: 2px; 
    color: rgb(58, 73, 76);
}


/* Section-2 */

section .sec-2{
    position: relative;
     width: 100%;
     min-height: 100vh;
}
/* Section-2 top content */

section .sec-2 .top-content{
    width: 100%;
    min-height: 50vh;
    background-color: rgb(41, 59, 63);
    display: flex;
    justify-content: center;
    align-items: center;
}
section .sec-2 .top-content .itf{
   width: 50%;
   height: 50vh;
   display: flex;
   justify-content: center;
   align-items:flex-start;
   flex-direction: column;
   padding: 100px;
}
section .sec-2 .top-content .itf h1{
    color: white;
    font-size: xx-large;
    font-weight: bold;
}
section .sec-2 .top-content .itf p{
    color: white;
    font-weight: 200;
}
section .sec-2 .top-content .itf-img{
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 section .sec-2 .top-content .itf-img img{
     width: 60%;
 }

/* Section-2 bottom content */

section .sec-2 .bottom-content{
    width: 100%;
    min-height: 50vh;
    background-color: rgb(212, 216, 217);
}
.cell{
    width: 33%;
    display: inline-block;
    margin: 0 15px;
    overflow: hidden;
    height: 45vh;
    padding: 50px;
}
.cell .new-tastes{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}
.cell .new-tastes .circle .c{
    width: 20px;
    height: 20px;
    background-color: rgb(41, 59, 63);
    border-radius: 50%;
}
.cell .new-tastes h1{
    font-size: large;
    font-weight: bold;
    color: rgb(41, 59, 63);
}
.cell .new-tastes p{
    font-size: small;
    color: rgb(41, 59, 63);
}
.cell .new-spices{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}
.cell .new-spices .circle{
    display: flex;
}
.cell .new-spices .circle .c1{
    width: 20px;
    height: 20px;
    background-color: rgb(41, 59, 63);
    border-radius: 50%;
}
.cell .new-spices .circle .c2{
    width: 20px;
    height: 20px;
    background-color: rgb(41, 59, 63);
    border-radius: 50%;
    margin-left: 4px
}
.cell .new-spices h1{
    font-size: large;
    font-weight: bold;
    color: rgb(41, 59, 63);
}
.cell .new-spices p{
    font-size: small;
    color: rgb(41, 59, 63);
}
.cell .new-dishes{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}
.cell .new-dishes .circle{
    display: flex;
}
.cell .new-dishes .circle .c1{
    width: 20px;
    height: 20px;
    background-color: rgb(41, 59, 63);
    border-radius: 50%;
}
.cell .new-dishes .circle .c2{
    width: 20px;
    height: 20px;
    background-color: rgb(41, 59, 63);
    border-radius: 50%;
    margin-left: 4px
}
.cell .new-dishes .circle .c3{
    width: 20px;
    height: 20px;
    background-color: rgb(41, 59, 63);
    border-radius: 50%;
    margin-left: 4px
}
.cell .new-dishes h1{
    font-size: large;
    font-weight: bold;
    color: rgb(41, 59, 63);
}
.cell .new-dishes p{
    font-size: small;
    color: rgb(41, 59, 63);
}
.flickity-button {
    display: none;
  }
  .flickity-page-dots{
      display: none;
  }
  .flickity-page-dots .dot.is-selected {
    background: rgb(41, 59, 63);
  }

  /* Section-3 */

  section .sec-3{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url("innerbg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section .sec-3 .plate-content{
      width: 60%;
      min-height: 90vh;
      background-color: rgba(217, 221, 222, 0.705);
      margin: 10px;
  }
  section .sec-3 .plate-content .top-content{
      width: 100%;
      height: 20vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  section .sec-3 .plate-content .top-content .ind{
      color: rgb(49, 70, 82);
  }
  section .sec-3 .plate-content .top-content .oyp{
    color: rgb(176, 115, 27);
}
  section .sec-3 .plate-content .middle-content{
      width: 100%;
      min-height: 70vh;
      display: grid;
      grid-template-columns: repeat(4,1fr);
  }
  section .sec-3 .plate-content .middle-content .col{
      width: 100%;
      height: 23.3vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  section .sec-3 .plate-content .middle-content .col img{
      width: 100%;
      height: 100%;
  }
  section .sec-3 .plate-content .middle-content .col .order{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  section .sec-3 .plate-content .middle-content .col .order h1{
      font-size: medium;
      font-weight: bold;
      color: rgb(49, 70, 82);
  }
  section .sec-3 .plate-content .middle-content .col .order p{
    font-size: small;
    text-align: center;
    color: rgb(49, 70, 82);
}
section .sec-3 .plate-content .middle-content .col .order h2{
    font-size: small;
    font-weight: bold;
    color: rgb(49, 70, 82);
}

/* Section-4 */

section .sec-4{
    position: relative;
    width: 100%;
    min-height: 150vh;
  }
  section .sec-4 .tcme-content{
      width: 100%;
      height: 50vh;
      background-color: rgb(212, 216, 217);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  section .sec-4 .tcme-content h1{
      font-size: x-large;
      font-weight: bold;
      color: rgb(47, 61, 67);
  }
  section .sec-4 .tcme-content .tcme-p{
      text-align: center;
      color: rgb(47, 61, 67);
      margin-right: 20px;
      margin-left: 20px;
      
  }
  section .sec-4 .tcme-content .circle-dot{
      width: 100%;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  section .sec-4 .tcme-content .circle-dot .dot{
    width: 20px;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(47, 61, 67);
    margin: 5px;
}
section .sec-4 .tcme-content .msbg{
    width: 20%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .sec-4 .tcme-content .msbg p{
    color: rgb(47, 61, 67);
    font-weight: bold;
    cursor: pointer;
}
section .sec-4 .donm1{
    width: 100%;
    min-height: 100vh;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}
section .sec-4 .donm1 .donm-content{
    width: 100%;
    min-height: 80vh;
    background-color: rgba(217, 221, 222, 0.753);
}
section .sec-4 .donm1 .donm-content .top-content{
    width: 100%;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section .sec-4 .donm1 .donm-content .top-content .d{
    color: rgb(49, 70, 82);
}
section .sec-4 .donm1 .donm-content .top-content .onm{
    color: rgb(176, 115, 27);
}
section .sec-4 .donm1 .donm-content .middle-content{
    width: 100%;
    min-height: 60vh;
    display: flex;
}
section .sec-4 .donm1 .donm-content .middle-content .left-content{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
}
section .sec-4 .donm1 .donm-content .middle-content .left-content .first{
    width: 100%;
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
section .sec-4 .donm1 .donm-content .middle-content .left-content .first .content{
    margin-left: 10px;
}
section .sec-4 .donm1 .donm-content .middle-content .left-content .first .content h1{
    font-size: medium;
    font-weight: bold;
    color: rgb(49, 70, 82);
}
section .sec-4 .donm1 .donm-content .middle-content .left-content .first .content p{
    font-size: small;
    color: rgb(49, 70, 82);
}
section .sec-4 .donm1 .donm-content .middle-content .left-content .first .content p span{
    font-size: small;
    font-weight: bold;
    color: rgb(49, 70, 82);
}

section .sec-4 .donm1 .donm-content .middle-content .right-content{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
}
section .sec-4 .donm1 .donm-content .middle-content .right-content .first{
    width: 100%;
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
section .sec-4 .donm1 .donm-content .middle-content .right-content .first .content{
    margin-left: 10px;
}
section .sec-4 .donm1 .donm-content .middle-content .right-content .first .content h1{
    font-size: medium;
    font-weight: bold;
    color: rgb(49, 70, 82);
}
section .sec-4 .donm1 .donm-content .middle-content .right-content .first .content p{
    font-size: small;
    color: rgb(49, 70, 82);
}
section .sec-4 .donm1 .donm-content .middle-content .right-content .first .content p span{
    font-size: small;
    font-weight: bold;
    color: rgb(49, 70, 82);
}

/* Section-5 */

section .sec-5{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url("img5.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section .sec-5 img{
      width: 100%;
      height: 500px;
  }

  /* Section-6 */

  section .sec-6{
      width: 100%;
      min-height: 110vh;
      background-color: rgb(212, 216, 217);
  }
  section .sec-6 .top-content{
    width: 100%;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section .sec-6 .top-content .d{
    color: rgb(49, 70, 82);
}
section .sec-6 .top-content .onm{
    color: rgb(176, 115, 27);
}
section .sec-6 .bottom-content{
    width: 100%;
    min-height: 90vh;
}
section .sec-6 .bottom-content .cell{
    width: 32%;
    display: inline-block;
    margin: 0 15px;
    overflow: hidden;
    height: 85vh;
    padding: 50px;
}
section .sec-6 .bottom-content .cell .one{
    width: 100%;
    height: 100%;
}
section .sec-6 .bottom-content .cell .one img{
    width: 100%;
    height: 60%;
}
section .sec-6 .bottom-content .cell .one .content{
    width: 100%;
    height: 40%;
    background-color: white;
    padding-left: 25px;
    padding-top: 25px;
}
section .sec-6 .bottom-content .cell .one .content h1{
    font-size: small;
    font-weight: bold;
    color: rgb(112, 112, 112);
}
section .sec-6 .bottom-content .cell .one .content h2{
    font-size: medium;
    font-weight: bold;
    color: rgb(102, 102, 102);
}
section .sec-6 .bottom-content .cell .one .content p{
    font-size: small;
    color: rgb(178, 178, 178);
}
section .sec-6 .bottom-content .cell .one .content span{
    font-size: large;
    font-weight: bold;
    color: rgb(126, 126, 126);
}
section .sec-6 .bottom-content .cell .one .content span::after{
    content: ' ';
    display: block;
    width: 30%;
    height: 5px;
    background-color: rgb(253, 156, 47);
}
.flickity-button {
    display: none;
  }
  .flickity-page-dots{
      display: none;
  }
  .flickity-page-dots .dot.is-selected {
    background: rgb(41, 59, 63);
  }


/* section-7 */
section .sec-7{
    width: 100%;
    min-height: 100vh;
}
section .sec-7 .top{
    width: 100%;
    min-height: 50vh;
    background-color: rgb(41, 59, 63);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section .sec-7 .top .fa-quote-left{
    color: rgb(212, 216, 217);
    font-size: 25px;
}
section .sec-7 .top p{
    color: rgb(212, 216, 217);
    font-size: medium;
    font-weight: 200;
    text-align: center;
}
section .sec-7 .top h1{
    color: rgb(212, 216, 217);
    font-size: medium;
    font-weight: bold;
}
section .sec-7 .top .fonts{
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .sec-7 .top .fonts .f{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(212, 216, 217);
    display: flex;
    align-items: center;
    justify-content: center;
}
section .sec-7 .top .fonts .f .fa{
    font-size: 25px;
}

section .sec-7 .footer{
    width: 100%;
    min-height: 50vh;
    background-color: rgb(212, 216, 217);
    display: flex;
    align-items: center;
    justify-content: center;
}
section .sec-7 .footer .left{
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
}
section .sec-7 .footer .left h1{
    font-size: x-large;
    font-weight: bold;
    color: rgb(41, 59, 63);
}
section .sec-7 .footer .left p{
    font-size: medium;
    font-weight: 400;
    color: rgb(41, 59, 63);
}

section .sec-7 .footer .right{
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
section .sec-7 .footer .right .content{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
section .sec-7 .footer .right .content .about{
    width: 24%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
}
section .sec-7 .footer .right .content .about h1{
    font-size: x-large;
    font-weight: bold;
    color: rgb(41, 59, 63);
}
section .sec-7 .footer .right .content .about h2{
    font-size: large;
    font-weight: bold;
    color: rgb(41, 59, 63);
}
section .sec-7 .footer .right .content .about .cd{
    font-size: large;
    color: rgba(41, 59, 63, 0.568);
}

/* scrollup button */

.to-top{
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    z-index: 10000;
}

.to-top.activeScroll{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}



/* media queries */

@media(max-width: 1200px){
    section .sec-1 header nav .nav-links{
        position: absolute;
        top: 12vh;
        left: 0;
        width: 100%;
        height: 55vh;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(41, 59, 63);
        transform: translateX(-100%);      
    }
    section .sec-1 header nav .display{
        transform: translateX(0%);
        transition: 1s;
    }
    section .sec-1 header nav .arrow{
        height: 30px;
        width: 30px;
        position: absolute;
        top: 45px;
        right: 20px;
        display: block;
        cursor: pointer;
    }
    .toggle1{
        transform: rotate(45deg) translate(9px,7px);
        transition: 1s;
    }
    .toggle2{
        display: none;
    }
    .toggle3{
        transform: rotate(-45deg);
        transition: 1s;
    }

    section .sec-2 .top-content .itf{
       width: 100%;
       height: 50vh;
       display: flex;
       justify-content: center;
       align-items:flex-start;
       flex-direction: column;
       padding: 50px;
    }
    section .sec-2 .top-content .itf-img img{
        width: 90%;
    }
    
}

@media(max-width: 986px){
    section .sec-6 .bottom-content .cell{
        width: 50%;
    }
    .flickity-page-dots{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 980px){
    section .sec-4 .tcme-content .msbg{
        width: 30%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media(max-width: 950px){
    section .sec-3 .plate-content .middle-content{
        width: 100%;
        min-height: 70vh;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 932px){
    section .sec-2 .top-content .itf{
       width: 100%;
       height: 50vh;
       display: flex;
       justify-content: center;
       align-items:flex-start;
       flex-direction: column;
       padding: 10px;
    }
    .cell{
        width: 50%;
    }
    section .sec-6 .bottom-content .cell{
        width: 50%;
    }
    .flickity-page-dots{
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
}

@media(max-width: 861px){
    section .sec-2 .top-content{
        width: 100%;
        min-height: 50vh;
        background-color: rgb(41, 59, 63);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section .sec-2 .top-content .itf{
       width: 100%;
       height: 50vh;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       padding: 10px;
    }
    section .sec-2 .top-content .itf p{
        color: white;
        font-weight: 200;
        text-align: center;
    }
     section .sec-2 .top-content .itf-img img{
         width: 500px;
         height: 300px;
     }
     section .sec-7 .top .fonts{
        width: 40%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media(max-width: 782px){
    section .sec-7 .footer{
        width: 100%;
        min-height: 50vh;
        background-color: rgb(212, 216, 217);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    section .sec-7 .footer .left{
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content:center ;
        flex-direction: column;
    }
    section .sec-7 .footer .right{
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: space-between;
        align-items: center;        
    }
    section .sec-7 .footer .right .content{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content:space-between ;
    }
}

@media(max-width: 700px){
    section .sec-4 .donm1 .donm-content .middle-content{
        width: 100%;
        min-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section .sec-4 .donm1 .donm-content .middle-content .left-content .first{
        width: 100%;
        height: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
    section .sec-4 .donm1 .donm-content .middle-content .right-content .first{
        width: 100%;
        height: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
}

@media(max-width: 680px){
    section .sec-1 main .box{
        width: 400px;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.685);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .cell{
        width: 100%;
    }
    .flickity-page-dots{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section .sec-4 .tcme-content .msbg{
        width: 35%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    section .sec-6 .bottom-content .cell{
        width: 100%;
    }
}

@media(max-width: 640px){
    section .sec-7 .top .fonts{
        width: 70%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media(max-width: 560px){
    section .sec-3 .plate-content .middle-content{
        width: 100%;
        min-height: 70vh;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    section .sec-4 .tcme-content .msbg{
        width: 40%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media(max-width: 480px){
    section .sec-4 .tcme-content .msbg{
        width: 60%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media(max-width: 464px){
    section .sec-2 .top-content .itf-img img{
        width: 100%;
    }
}

@media(max-width: 425px){
    section .sec-1 main .box{
        width: 300px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.685);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media(max-width: 380px){
    section .sec-7 .top .fonts{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

